* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: rgb(51, 51, 51);
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    height: 60px;
    font-size: 60px;
    font-weight: bolder;
    background: white !important;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100px 100px 250px;
    color: white;
}
.score-board {
    display: grid;
    justify-self: center;
    text-align:center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: 33px;
    width: 300px;
    font-weight: bold;

}
.badge1 {
    background: rgb(255, 255, 255);
    color:black;
    grid-column: 1 / 2;
    grid-row: 2/3;
    align-self:center;
    border: 2px solid rgb(168, 168, 168);
}
.badge2 {
    background: rgb(255, 255, 255);
    color:black;
    grid-column: 3 / 4;
    grid-row: 2/3;
    align-self:center;
    border: 2px solid rgb(168, 168, 168);
}
.score-badge {
    align-self:center;
    grid-column: 2/3;
    grid-row: 1/4;
    font-size: 50px;
    border: 3px solid rgb(192, 192, 192);
}
.paragraph {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    align-self:center;
}
.image-container {
    display: flex;
    justify-self: center;
}
img {
    cursor: pointer;
}
